<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Existed Email</title>
   <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    <h1>Email Already Exist</h1>
    <form action="/api/students" method="post">
      <button class="msg">Add Record with new email</button>
    </form>
  </body>
</html>
